<!DOCTYPE html>
<html lang="en" data-theme="clint" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="BlogApi.Client.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <component type="typeof(App)" render-mode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/js/google-auth.js"></script>
</body>
</html>
