@inject AuthStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject ILogger<App> Logger

@rendermode InteractiveServer

@if (_isAuthInitialized)
{
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="routeData"
                                    DefaultLayout="typeof(Layout.MainLayout)">
                    <NotAuthorized>
                        <NotAuthorizedModal OnAuthenticationSuccess="HandleAuthSuccess" />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
        </Router>
    </CascadingAuthenticationState>
}
else
{
    <div class="fullscreen-center">
        <div class="loader-container">
            <p>Initializing...</p>
            <div class="spinner"></div>
        </div>
    </div>

}



@code {
    private bool _isAuthInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
               
                
             
                await AuthStateProvider.GetAuthenticationStateAsync();
                
                    

                _isAuthInitialized = true;
                StateHasChanged();
            }
            catch 
            {
              
                             
                _isAuthInitialized = true;
                StateHasChanged();
            }
        }
    }

    private void HandleAuthSuccess()
    {    
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
}