@page "/unsubscribe/{token}"



<h3>Unsubscribing...</h3>

@code {
    [Parameter]
    public string token { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(token))
            return;
        await UserClient.UnSubscribeToNewsletter(token);
    }
}
