@page "/author"
@attribute [Authorize(Roles = "Author")]


<div class="min-h-screen bg-gray-50 py-8">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 h-screen overflow-auto pb-15">


        <div class="mb-8">
            <div class="flex items-center justify-between mb-4">
                <div>
                    <h1 class="text-3xl font-bold text-gray-700 mb-2">Welcome back, Author! </h1>
                    <p class="text-gray-600">Manage your posts and content</p>
                </div>
                <NavLink href="create-post"
                         class="bg-indigo-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-indigo-700 transition-colors flex items-center gap-2 shadow-lg hover:shadow-xl">
                    <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Submit Post
                </NavLink>
            </div>


        </div>

        <div class="flex flex-col md:flex-row md:space-y-0 md:space-x-1 justify-between bg-white rounded-2xl shadow-sm p-4 mb-6 ">
            <div class="flex gap-1">
                <button @onclick="() => PostViewState.AuthorView(PostViewState.AuthorPostState.all_post)" class="px-2 py-2 rounded-lg text-sm font-medium text-gray-500 hover:bg-indigo-400 hover:text-white cursor-pointer transition-colors ">
                    All Posts
                </button>
                <button @onclick="() => PostViewState.AuthorView(PostViewState.AuthorPostState.published)" class="px-2 py-2 rounded-lg text-sm font-medium text-gray-500 hover:bg-indigo-400 hover:text-white cursor-pointer transition-colors ">
                    Published
                </button>

                <button @onclick="() => PostViewState.AuthorView(PostViewState.AuthorPostState.drafts)" class="px-2 py-2 rounded-lg text-sm font-medium text-gray-500 hover:bg-indigo-400 hover:text-white cursor-pointer transition-colors ">
                    Drafts
                </button>
                <div class="indicator">
                    @if (TotalCount?.PendingCount > 0)
                    {
                        <span class=" indicator-item badge bg-indigo-500 text-white">@TotalCount.PendingCount</span>
                    }
                    <button @onclick="() => PostViewState.AuthorView(PostViewState.AuthorPostState.pending)" class="px-2 py-2 rounded-lg text-sm font-medium text-gray-500 hover:bg-indigo-400 hover:text-white cursor-pointer transition-colors ">
                        Pending Approval
                    </button>
                </div>
            </div>
            <div class="flex gap-2 relative">
                <div class="indicator ">
                    @if (TotalCount?.NotificationCount > 0)
                    {
                        <span class=" absolute left-4 top-0 indicator-item badge bg-indigo-500 text-white">@TotalCount.NotificationCount</span>
                    }
                    <NavLink href="notification" class="px-4 py-2 rounded-lg text-sm font-medium text-gray-500  cursor-pointer  ">
                        <svg class="w-7 h-7 text-indigo-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.6" d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                        </svg>
                    </NavLink>

                </div>
                <label class="input input-bordered flex items-center gap-2 w-[100%]">
                    <svg class="w-4 h-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <input type="text" class="w-[100%]" placeholder="Search posts..." />
                </label>

                <button @onclick="() => PostViewState.AuthorView(PostViewState.AuthorPostState.bookmarks)" class="btn btn-ghost btn-square bg-indigo-50 hover:bg-indigo-50">
                    <svg class="w-6 h-6 text-indigo-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z" />
                    </svg>
                </button>
            </div>
        </div>

        @if (PostViewState.AuthorPageView == PostViewState.AuthorPostState.all_post)
        {
            <Featured featuredPosts="featuredPosts" ReadMore="HandleReadMore" />
            <AllPosts recentPost="recentPost" Pagination="Pagination" Refresh="RefreshAsync" />

        }
        else if (PostViewState.AuthorPageView == PostViewState.AuthorPostState.drafts)
        {

            <Blog.Client.Components.Pages.Components.ManagePosts ListPostFilterByUser="ListDraftByUser" Pagination="PaginationDraft" Refresh="RefreshDraftAsync" OnLoadMore="LoadDraftPostByUserAsync" />

        }
        else if (PostViewState.AuthorPageView == PostViewState.AuthorPostState.pending)
        {

            <Pending />

        }
        else if (PostViewState.AuthorPageView == PostViewState.AuthorPostState.published)
        {

            <Blog.Client.Components.Pages.Components.ManagePosts ListPostFilterByUser="ListPublishedByUser" Pagination="PaginationPublished" Refresh="RefreshPublishedAsync" OnLoadMore="LoadPublishedPostByUserAsync" />

        }
        else if (PostViewState.AuthorPageView == PostViewState.AuthorPostState.bookmarks)
        {

            <BookMarks TriggeredAllPost="TriggeredAllPost" />

        }
    </div>
</div>

<style>
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

</style>

@code {
    private bool isSubscribedNotificationCount = false;

    private List<FeaturedPostDto>? featuredPosts { get; set; } = new List<FeaturedPostDto>();
    private PagedResult<PostDto>? recentPost { get; set; } = new PagedResult<PostDto>();
    private ListPaginatedRequest Pagination { get; set; } = new ListPaginatedRequest();
    private UnreadDto? TotalCount { get; set; } = new UnreadDto();
    private bool _isSubscribedToSignalR = false;



    private PagedResult<PostDto>? ListDraftByUser { get; set; } = new PagedResult<PostDto>();
    private PagedResult<PostDto>? ListPublishedByUser { get; set; } = new PagedResult<PostDto>();
    private ListPaginatedRequest PaginationPublished { get; set; } = new ListPaginatedRequest { PageNumber = 1, PageSize = 9 };
    private ListPaginatedRequest PaginationDraft { get; set; } = new ListPaginatedRequest { PageNumber = 1, PageSize = 9 };

    public void TriggeredAllPost()
    {
        PostViewState.AuthorView(PostViewState.AuthorPostState.all_post);
    }

    public async Task RefreshPublishedAsync()
    {
        PaginationPublished.PageNumber = 1;
        await LoadPublishedPostByUserAsync();
    }

    public async Task LoadPublishedPostByUserAsync()
    {
        var request = await PostClient.ListPublishedByUser(PaginationPublished);
        ListPublishedByUser = request.Value;
        StateHasChanged();
    }

    public async Task RefreshDraftAsync()
    {
        PaginationPublished.PageNumber = 1;
        await LoadPublishedPostByUserAsync();
    }

    public async Task LoadDraftPostByUserAsync()
    {
        var request = await PostClient.ListDraftByUser(PaginationPublished);
        ListDraftByUser = request.Value;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var listFeatureTask = ListFeatured();
        var listPublishedTask = ListPublished();
        var unreadNotificationTask = GetUnreadNotificationCount();
        var notificationHubTask = NotificationSignalR.NotificationInitializeAsync();
        var postHubTask = PostSignalR.PostInitializeAsync();
        var loadPublishedPostByUserAsync = LoadPublishedPostByUserAsync();
        var loadDraftPostByUserAsync = LoadDraftPostByUserAsync();

        await Task.WhenAll(
            listFeatureTask,
            listPublishedTask,
            unreadNotificationTask,
            notificationHubTask,
            postHubTask,
            loadPublishedPostByUserAsync,
            loadDraftPostByUserAsync
        );

        if (!_isSubscribedToSignalR)
        {
            SubscribeOnViewCountUpdate();
            await SubscribePendingAuthor();
            await SubscribeNoticationCount();
        }
        _isSubscribedToSignalR = true;
    }

    public async Task SubscribePendingAuthor()
    {
        var CurrentUserId = await AuthStateProvider.GetUserIdAsync();
        NotificationSignalR.OnPendingCountAuthor((Count, UserId) =>
        {

            if (CurrentUserId == UserId.ToString())
            {
                if (TotalCount is not null)
                {
                    TotalCount.PendingCount = Count;
                    InvokeAsync(StateHasChanged);
                }
            }
        });
    }

    public void SubscribeOnViewCountUpdate()
    {
        PostSignalR.OnViewCountUpdate((postId, viewCount) =>
        {
            var post = featuredPosts?.FirstOrDefault(p => p.PostId == postId);
            if (post != null)
            {
                post.ViewCount = viewCount;
                InvokeAsync(StateHasChanged);
            }
        });
    }

    public async Task SubscribeNoticationCount()
    {
        if (isSubscribedNotificationCount) return;

        var CurrentUserId = await AuthStateProvider.GetUserIdAsync();

        NotificationSignalR.OnNotificationCount((Count, UserId) =>
        {
            if (UserId.ToString() == CurrentUserId)
            {
                if (TotalCount is not null)
                {
                    TotalCount.NotificationCount = Count;
                    InvokeAsync(StateHasChanged);
                }
            }
        });

        isSubscribedNotificationCount = true;
    }
    public async Task RefreshAsync()
    {
        var recent = await PostClient.ListPublished(Pagination);
        recentPost = recent.Value;
        StateHasChanged();
    }

    private async Task ListFeatured()
    {
        var feaatured = await FeaturedClient.ListFeatured();
        featuredPosts = feaatured.Value;
    }

    public async Task GetUnreadNotificationCount()
    {
        var request = await PostAnalyticsClient.GetAuthorUnreadTotal();
        TotalCount = request.Value;
        StateHasChanged();
    }

    private async Task ListPublished()
    {
        var recent = await PostClient.ListPublished(Pagination);
        recentPost = recent.Value;
    }

    public async Task HandleReadMore(int? Id)
    {
        await PostInteractionsClient.TrackPostView(Id);
        Navigation.NavigateTo($"viewblogconstruct/{Id}");
        StateHasChanged();
    }
}